#box1{
    height: 175px;
    width: 200px;
    background-image: url(/img/image.png);
}
/* #box2{
    height: 175px;
    width: 500px;
    background-color: grey;
    margin: 10px;
    position: relative;
    bottom: 185px;
    left: 200px
}
#box3{
    height: 180px;
    width: 630px;
    background-color: gray;
    position: relative;
    bottom: 190px;
}
#box4{
    height: 180px;
    width: 70px;
    background-color: orangered;
    position: relative;
    bottom: 370px;
    left: 640px;
}
#box5{
    height: 150px;
    width: 710px;
    background-color: green;
    position: relative;
    bottom: 355px;
}
#box6{
    background-color: orangered;
    height: 10px;
    width: 20px;
    position: relative;
    bottom: 737px;
    left: 690px;
} */
